<html>

<head>
    <meta charset="utf-8"> 
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
    <title> Tio Elias tá no OV? </title>
</head>

<body>
    <h1>Tio Elias tá no OV?</h1>

    <h2> {{status}} </h2>
    <p> Última atualização: {{latest_update}} </p>

    <form action="" method="post">
        <input name="status" type="hidden" value="1">
        <input type="submit" value="Tá sim! \o/">
    </form>

    <form action="" method="post">
        <input name="status" type="hidden" value="2">
        <input type="submit" value="Tá não =(">
    </form>

</body>

</html>
